img{
    height: 64px;;
    width:64px;
    border-radius: 32px;
    border-style: none;
    margin-bottom: 11px;
  }
  .avatar-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(32, 31, 31);
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .info{
    background-color: rgb(49, 51, 56);
    position: fixed;
    top: 0;
    bottom: 0;
    left:104px;
    width:200px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .add-info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .add-info-button{
    border: none;
    background-color: rgb(49, 51, 56);
    color: gray;
    font-size: 25px;
  }
  
  p{
    font-family: Arial;
    color:gray;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .section-label{

    font-weight: bold;
    color: white;
    margin-bottom: 0;
  }